# Analise Inicial

In [159]:
import pandas as pd
import plotly.express as px

In [160]:
df = pd.read_csv('dataset/dataset.csv')
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [162]:
print(df['BMI Category'].unique())

['Overweight' 'Normal' 'Obese' 'Normal Weight']

# Tradução e Manipulação de Dados

In [163]:
gender_traducao = {
    'Male': 'Masculino',
    'Female': 'Feminino',
}

occupation_traducao = {
    'Software Engineer': 'Engenheiro de Software',
    'Doctor': 'Médico',
    'Sales Representative': 'Representante de Vendas',
    'Teacher': 'Professor',
    'Nurse': 'Enfermeiro',
    'Engineer': 'Engenheiro',
    'Accountant': 'Contador',
    'Scientist': 'Cientista',
    'Lawyer': 'Advogado',
    'Salesperson': 'Vendedor',
    'Manager': 'Gerente'
}

BMI_traduzido = {
    'Normal Weight': 'Peso normal',
    'Normal': 'Peso normal',
    'Overweight': 'Sobrepeso',
    'Obese': 'Obesidade'
}

sleep_disorder_traducao = {
    'Sleep Apnea': 'Apneia do Sono',
    'Insomnia': 'Insônia',
}

df_limpo = df.copy()

df_limpo['Occupation'] = df_limpo['Occupation'].map(occupation_traducao)
df_limpo['Gender'] = df_limpo['Gender'].map(gender_traducao)
df_limpo['BMI Category'] = df_limpo['BMI Category'].map(BMI_traduzido)
df_limpo['Sleep Disorder'] = df_limpo['Sleep Disorder'].map(sleep_disorder_traducao)

df_limpo = df_limpo.rename(columns={
    'Person ID': 'ID da Pessoa',
    'Gender': 'Gênero',
    'Age': 'Idade',
    'Occupation': 'Profissão',
    'Sleep Duration': 'Duração do Sono',
    'Quality of Sleep': 'Qualidade do Sono',
    'Physical Activity Level': 'Nível de Atividade Física',
    'Stress Level': 'Nível de Estresse',
    'BMI Category': 'Categoria de IMC',
    'Blood Pressure': 'Pressão Arterial',
    'Heart Rate': 'Frequência Cardíaca',
    'Daily Steps': 'Passos Diários',
    'Sleep Disorder': 'Tipo de Distúrbio'
})

df_limpo.head()

,ID da Pessoa,Gênero,Idade,Profissão,Duração do Sono,Qualidade do Sono,Nível de Atividade Física,Nível de Estresse,Categoria de IMC,Pressão Arterial,Frequência Cardíaca,Passos Diários,Tipo de Distúrbio
0,1,Masculino,27,Engenheiro de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,NaN
1,2,Masculino,28,Médico,6.2,6,60,8,Peso normal,125/80,75,10000,NaN
2,3,Masculino,28,Médico,6.2,6,60,8,Peso normal,125/80,75,10000,NaN
3,4,Masculino,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do Sono
4,5,Masculino,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do Sono

In [164]:
df_limpo['Tipo de Distúrbio'] = df_limpo['Tipo de Distúrbio'].fillna('Sem Distúrbio')
df_limpo['Tem Disturbio'] = df_limpo['Tipo de Distúrbio'] != 'Sem Distúrbio'
df_limpo.head()

,ID da Pessoa,Gênero,Idade,Profissão,Duração do Sono,Qualidade do Sono,Nível de Atividade Física,Nível de Estresse,Categoria de IMC,Pressão Arterial,Frequência Cardíaca,Passos Diários,Tipo de Distúrbio,Tem Disturbio
0,1,Masculino,27,Engenheiro de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Sem Distúrbio,False
1,2,Masculino,28,Médico,6.2,6,60,8,Peso normal,125/80,75,10000,Sem Distúrbio,False
2,3,Masculino,28,Médico,6.2,6,60,8,Peso normal,125/80,75,10000,Sem Distúrbio,False
3,4,Masculino,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do Sono,True
4,5,Masculino,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do Sono,True

In [165]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID da Pessoa               374 non-null    int64
 1   Gênero                     374 non-null    object
 2   Idade                      374 non-null    int64
 3   Profissão                  374 non-null    object
 4   Duração do Sono            374 non-null    float64
 5   Qualidade do Sono          374 non-null    int64
 6   Nível de Atividade Física  374 non-null    int64
 7   Nível de Estresse          374 non-null    int64
 8   Categoria de IMC           374 non-null    object
 9   Pressão Arterial           374 non-null    object
 10  Frequência Cardíaca        374 non-null    int64
 11  Passos Diários             374 non-null    int64
 12  Tipo de Distúrbio          374 non-null    object
 13  Tem Disturbio              374 non-null    bool
dtypes: bool(1), float64(1), int64(7), object(5)
memory usage: 38.5+ KB

# Funções

In [166]:
def criar_tabela_frequencia(coluna):
    tabela = coluna.value_counts().reset_index()
    tabela.columns = [coluna.name, 'Frequência']
    return tabela

In [167]:
def criar_tabela_agrupada(coluna1, coluna2):
    tabela = pd.DataFrame(df_limpo.groupby(coluna1)[coluna2].value_counts()).sort_values(by=[coluna1,coluna2], ascending=False).reset_index()
    tabela.columns = [coluna1, coluna2, 'Frequência']
    return tabela

# Analise de Frequencia por Coluna

In [168]:
profissao_tabela = criar_tabela_frequencia(df_limpo['Profissão'])
genero_tabela = criar_tabela_frequencia(df_limpo['Gênero'])
imc_tabela = criar_tabela_frequencia(df_limpo['Categoria de IMC'])
disturbio_tabela = criar_tabela_frequencia(df_limpo['Tipo de Distúrbio'])

In [169]:
disturbio_tabela

  Tipo de Distúrbio  Frequência
0     Sem Distúrbio         219
1    Apneia do Sono          78
2           Insônia          77

In [170]:
profissao = criar_tabela_agrupada('Profissão', 'Tem Disturbio').sort_values(by='Frequência', ascending=False)
profissao = profissao[profissao['Tem Disturbio'] != False]
profissao

                  Profissão  Tem Disturbio  Frequência
12               Enfermeiro           True          64
3                 Professor           True          31
0                  Vendedor           True          30
5                    Médico           True           7
14                 Contador           True           7
10               Engenheiro           True           6
18                 Advogado           True           5
2   Representante de Vendas           True           2
16                Cientista           True           2
8    Engenheiro de Software           True           1

In [171]:
genero = criar_tabela_agrupada('Gênero', 'Tem Disturbio').sort_values(by='Frequência', ascending=False).reset_index(drop=True)
genero = genero[genero['Tem Disturbio'] != False]
genero

      Gênero  Tem Disturbio  Frequência
1   Feminino           True         103
3  Masculino           True          52

In [172]:
imc = criar_tabela_agrupada('Categoria de IMC', 'Tem Disturbio').sort_values(by='Frequência', ascending=False).reset_index(drop=True)
imc = imc[imc['Tem Disturbio'] != False]
imc

  Categoria de IMC  Tem Disturbio  Frequência
1        Sobrepeso           True         129
3      Peso normal           True          16
4        Obesidade           True          10